body{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    color: #363958;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
/* Navigation-part-start */

.nav-bannar{
    position: relative;
}
.nav-header{
    position: absolute;
    width:100%; 
    top: auto;
    left:auto;
    z-index: 99;
}
.nav-header a{
    color: #3C3C3C;
    font-size:24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: auto;
    height:auto;
    display: inline-block;
}
.nav-header a:hover {
    background-color: #A4BC46;
    border-radius: 5px;
}
.img-deatils{
    width: 56px;
    height: 45px;
}
.logo-text{
    color:#A4BC46;
    font-weight: 700;
}
.text-logo{
    color: #363958;
    font-weight: 700;
}
.text-items{
    color:#3C3C3C ;
    font-weight: 700;
}
/* Navigation-part-end. */
/* Heading-part-start  */

.heading-text{
    padding-left: 50px;
}
.heading-text p{
    width: 70%;
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif; 
    margin-top: 5px;
}
.heading-text a{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #A4BC46;
    border-radius: 5px;
    width: 150px;
    height:auto;
    margin-top: 10px;
    display: inline-block;
    padding:5px;
    background-color: #A4BC46;
}
.img-details{
    width: 550px;
    height: 560px;

}
/* Heading-part-end.  */

/* Womens-jackets-part-start  */
.card{
    width: 293px;
    height:auto;
}
.card img{
    width: auto;
    width: 293px;
    height: 293px;
    background: #F1F1F1;
    border-radius: 5px;
}
.card-title{
    color: #363958;
    font-size: 24px;
    font-weight: 700;
    font-family:'Roboto', sans-serif ;
}
.card-text h3{
    color: #FABE4C;
    font-size: 34px;
    font-weight: 700;
    font-family:'Roboto', sans-serif;
    padding-top: 25px;
    align-items: center;
    justify-content: center;
}
.card-text a{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #A4BC46;
    border-radius: 5px;
    width: 150px;
    height:auto;
    margin-top: 10px;
    display: inline-block;
    padding:5px;
    background-color: #A4BC46;
}
/* Womens-jackets-part-end. */
/* Service-part-start  */
.first-service img{
    width: 78px;
    height:82px;
}

.service-text h5{
    color: #363958;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.service-text p{
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    width: 65%;
}
/* Service-part-end. */
/* Footer-part-start  */
.footer-text p{
    color: #3E3E3E;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
}
/* Footer-part-end. */
/* font-family: 'Roboto', sans-serif; */